@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.homepage {
  background-color: #102766;
  width: 100vw;
  height: 100vh;
}

.create-task {
  background-color: #FFFFFF;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
}

.botaoSubmit {
  background: #E84118;
  color: #FFFFFF;
  border-radius: 8px;
}