* {
  font-family: 'Ubuntu', sans-serif;
}


.product {
  height: 10rem;
  width: 32rem;
  border: solid 1px;
  border-radius: 8px;
  border-color: #C3C3C3;

}

.product-image {
  width: 150px ;
  height: 100%;
  object-fit:fill ;
}

.product-title {
  font-size: 1.1rem;
  font-weight: 600;

}

.product-brand {
  font-size: .8em;
  color: #F3BD30;
  font-weight: bold;

}

.product-price {
  font-size: 1.2em;
  font-weight: bold;
}